<div class="page u-center">
    {{render '@site-header' }}

    <article>
        {{render '@example' }}

        <div>
            {{render '@image' }}
        </div>
    </article>

    {{render '@site-footer' }}
</div>
