<h1 class="heading heading--main">{{ main }}</h1>
<h2 class="heading heading--secondary">{{ secondary }}</h2>
<h3 class="heading heading--medium">{{ medium }}</h3>
<h4 class="heading heading--small">{{ small }}</h4>
